@using GridMvc.Html

@{
    ViewBag.Title = "Customers";
}

@section styles 
{
    @Styles.Render("~/Content/gridmvc")
}

@model List<Entity.Customer>

<h2>Customers</h2>

@Html.Action("GetGrid")
@Html.Partial("NewCustomerForm")

@section scripts 
{
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/application/customer")
}